.btn{
    padding: 1rem 2rem;
    background-color: var(--btn-color-primary);;
    border-radius: .5rem;
    color: var(--text-light);
    font-size: 2rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;
    &:hover{
        text-decoration: underline;
        opacity: .8;
    }
}

.secondary{
    background-color: var(--btn-color-secondary);
    color: var(--text-dark);
}

.text{
    background-color: unset;
    padding: 0;
    color: var(--text-dark);
    display: inline-flex;
    font-size: inherit;
}