.headerContainer{
    display: flex;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: #ccc 10px 0 10px;
    margin: 0 0 1rem;
    h1{
        font-size: 2rem;
        padding: 0 2rem;
    }
}

.userInfo{
    padding: 0 2rem;
}