.plpTemplate {
  width: 100%;
  main {
    padding: 2rem;
    min-height: 80vh;
    display: flex;
    .resultTitleContainer {
      margin: 0 0 1rem;
    }
    .resultsContainer {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      aside {
        width: 100%;
        @media screen and (min-width: 1100px) {
          width: 250px;
        }
      }
      .cardSectionWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 50vh;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: 1100px) {
          width: calc(100% - 250px);
        }
      }
    }
  }
}

.filtersContainer {
  padding: 1rem 0;
  margin: 2rem 0;
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media screen and (min-width: 1100px) {
    flex-direction: column;
    margin: 2rem 1rem; 
    display: flex;
    gap: 1rem;
  } 
  div,
  section {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem 1rem;
    min-height: 10rem;
    font-size: 1.4rem;
    flex-wrap: wrap;
    @media screen and (min-width: 1100px) {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
    } 
    button {
      font-size: 1.6rem;
      @media screen and (min-width: 1100px) {
        width: 100%;
      }
    }
  }
}
